
.CartWidget{
	background-color: black;
	color: white;
	padding: 16px;
	font-size: 28px;
	border: 0;
	width: 20px;
	
}
.CartWidget:hover{
	color:rgba(255, 255, 255, 0.75);
}

.span{
	display: flex; 
	position: absolute; 
	bottom: 2.1rem; 
	right: 5.3rem; 
	justify-content: center; 
	align-items: center; 
	width: 1rem; 
	height: 1rem; 
	font-size: 1.2rem;

}
