#resta{ 
	padding: 0.4rem; 
	background-color: black; 
	color: white; 
	justify-content: center; 
	align-items: center; 
	border-radius: 99px;
	width: 3rem;
}
#resta:hover{
	background-color: grey;
}
#suma{
	padding: 0.4rem; 
	background-color: black; 
	color: white; 
	justify-content: center; 
	align-items: center; 
	width: 3rem;
	border-radius: 99px; 
}
#suma:hover{
	background-color: grey;
}
#counter{
	margin-left: 1rem;
	margin-right: 1rem; 
  	font-weight: 700; 
	font-size: 1.3rem;
	}

#count{
	padding-left: 5rem;
}